.vscode
.idea
.DS_Store
.next/
node_modules/
*.ffm
*.bak
*.mp4
prototype/video
history.db
public/static/trackerHistory.json
yarn-error.log
public/static/lastwebcamframe.jpg
public/static/trackerHistoryExport.json
# static/placeholder/frames/
*.weights
.env